@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@1,300|Protest+Riot|Questrial');

body{
    font-family: 'Questrial', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type="radio"]{
    display: none;
}

input:hover +label{
    background-color: #A7A9AC;
}

.title{
    color: #2E3093;
    font-size: 75px;
    font-weight: bold;
    margin: 2%;
}

.title-2{
    color: #C9E1E6;
    font-size: 64px;
    font-weight: bold;
    margin: 1%;
    margin-top: 2%;
}

.titulo-Color{
    display: flex;
    justify-content: right;
    font-size: 60px;
    font-weight: bold;
    color: #181947;
    width: 100%;
    padding: 5px 100px 5px 0px;
}

.Subtitle-color{
    color: #9A9B9B;
    font-size: 35px;
    margin: 1%;
}

.titulo-Red-2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    color: #C90720;
    background-color: #f7f7f6;
    width: 100%;
    padding: 5px;
    margin: 1%;
}

.BotonesCerrar{
    width: 150px;
    height: 50px;
    background-color: #C90720;
    color: white;
    font-size: large;
    border: 2px solid white;
    border-radius: 20px;
} 

.BotonesCerrar:hover{
    background-color: #A7A9AC;
}

.botonInteractivo{
    width: 217px;
    height: 79px;
    background-color: #03B6AB3B;
    color: white;
    font-size: 45px;
    border: none;
    border-radius: 20px;
    margin-right: 10rem;
    margin-top: 3rem;
} 

.botonInteractivo:hover{
    background-color: #A7A9AC;
}

#page-content{
    margin-top: 6rem;
}

#quienesSomos{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 1% 2%;
}

#quien{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 1% 2%;
}

#Productos-destacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#info-servicios{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 25px;
    margin: 4%;
}

#Nosotros, #Servicios,#Sedes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto; 
    margin-top: 6vw;
}

.CategoriasServicios, .ListaSedes{
    display: flex;
    align-items: center;
    margin: 3%;
}

.Texto-Servicios, .Texto-Sedes{
    justify-content: center;
    width: 70%;
    font-size: 30px;
}

#Encabezado-Sedes{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 70%;
    text-align: justify;
    margin: 3%;
}

#Valores{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
    height: auto;
    text-align: justify;
    margin: 2%;
}

.parrafos{
    color: #9A9B9B;
    text-align: justify;
    font-size: 24px;
}

.parrafo-color{
    color: #2E3093;
}

.parrafo-color2{
    color: #03B6AB;
    font-size: 30px;
}

.parrafo{
    display: flex;
    display: inline;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    text-align: justify;
}

.imagenEstatica{
    flex-grow: 1; /* Esto hace que el div .imagen crezca para ocupar todo el espacio disponible */
    background-size: cover; /* Asegura que la imagen de fondo cubra completamente el div sin perder sus proporciones */
    background-position: center; /* Centra la imagen de fondo */
    width: auto;
    height: fit-content;
    max-height: 25vw;
}

.Productos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    width: 100vw;
    border: 10px 50px 10px 50px; 
    margin: 30px 50px 30px 50px;
}

.Producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    width: 30vw;
    height: 100%;
    border-radius: 60px;
    margin: 10px 50px 10px 50px;
}

.Sección-imagen{
    display: flex;
    align-items: center;
    height: 80%;
    width: auto;
    margin: 5px 10px 5px 10px;
}

.responsiva{
    max-width: 60%;
    height: 90%;
    margin: 10px;
}

.next-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 10px;
    background-color: #C90720;
    color: white;
    border-color: #C90720;
    height: 30px;
    width: 120px;
    border-radius: 5px;
}

#GruposDeProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tipo-producto{
    width: 40vw;
    height: 10vw;
    margin: 1vw;
    justify-content: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #f7f7f6;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 40px;
}

.tipo-producto img {
    max-width: 50%;
    max-height: 80%;
}

.Ventana-Emergente{
    display: none;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;   
    overflow-y: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.Ventana-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta-producto{
    display: flex;
    max-width: 50%;
    width: 40vw;
    height: auto;
    max-height: 50vw;
    border-radius: 20px;
    background-color: #EFEFEF;
    margin: 10px;
}

.img-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    max-width: 60%;
    height: auto;
    padding: 5px;
    margin: 1vw;
}

.text-productos{
    margin: 1vw;
}

.imput-text{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-color: black;
}

.logo{
    max-width: 100%;
    height: 10vw;
    margin: 0px 5vw 0px 5vw;
}

@media (max-width: 1000px) {
    .title, .title-2, .titulo-Color{
    font-size: 35px;
    }
    .botonInteractivo{
        margin-top: 2rem;
    }
    .Subtitle-color{
        font-size: 25px;
    }
    .parrafos, .parrafo-color2, .parrafo-color{
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .title, .title-2, .titulo-Color{
    font-size: 20px;
    padding-right: 2%;
    width: 100%;
    text-align: center;
    }
    .botonInteractivo{
        margin-top: 2rem;
    }
    .Subtitle-color{
        font-size: 15px;
    }
    .parrafos, .parrafo-color2{
        font-size: 15px;
        
    }
    .botonInteractivo{
        margin-top: 0.5rem;
        margin-right: 1.5rem;
        height: 60px;
        width: 200px;
    }
    .CategoriasServicios, .ListaSedes{
        flex-direction: column;
    }
}